/CommonObjs.class
/Course.class
/CoursesController.class
/LoginController.class
/Navigation.class
/PasswordHandler.class
/ResetPasswordController.class
/SignUpController.class
/WelcomeController.class
/Clonable.class
/CloneCourseInfo.class
/CourseInfoController.class
/SignUpHandler.class
/AddPromptController.class
/CoursesController$AddPromptController.class
/CoursesController$AddCoursePromptController.class
/AddCoursePromptController.class
/CourseConnector.class
/CourseCommonObjs.class
/AccountHandler.class
